<script>
    var submitted = false;
    function onSubmit(token) {
        var sessions = document.querySelector('.sessions');
        var numChecked = sessions.querySelectorAll("input[type='checkbox']:checked").length;

        if( numChecked > 0) {
            // document.getElementById("mG61Hd").submit();
            window.location = '{{ "/camp-thank-you" | prepend: site.baseurl }}';
        } else {
            var msg = "Please check one session.";
            alert(msg);
            sessions.querySelector('input').focus()
        }

    }

    document.addEventListener("DOMContentLoaded", function () {
        var elements = document.getElementsByTagName("INPUT");
        for (var i = 0; i < elements.length; i++) {
            elements[i].oninvalid = function (e) {
                e.target.setCustomValidity("");
                if (!e.target.validity.valid) {
                    var msg = e.target.getAttribute('data-error-message');

                    if (!msg || msg.length <= 0) {
                        msg = "This field cannot be left blank";
                    }
                    e.target.setCustomValidity(msg);
                }
            };
            elements[i].oninput = function (e) {
                e.target.setCustomValidity("");
            };
        }
    })
</script>

<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted){ onSubmit(); }"></iframe>

<form action="https://docs.google.com/a/coderdojochi.org/forms/d/e/1FAIpQLSfb89vnT5Ae6I5AiGVgE2rOPzmQ3yh9kEL8ZwfQvqw8Yq1Sag/formResponse" method="POST" id="mG61Hd" target="hidden_iframe" onsubmit="submitted=true;">
    <label for="guardian-full-name">Guardian Full Name <span class="form-required" aria-hidden="true">*</span></label>
    <input type="text" id="" name="entry.2092238618" value="" required />

    <label for="guardian-email">Guardian Email <span class="form-required" aria-hidden="true">*</span></label>
    <input type="email" id="guardian-email" name="entry.1556369182" value="" required />

    <label for="guardian-phone">Guardian Phone <span class="form-required" aria-hidden="true">*</span></label>
    <input type="tel" id="guardian-phone" name="entry.396149967" value="" required />

    <label for="students-full-name">Student's Full Name <span class="form-required" aria-hidden="true">*</span></label>
    <input type="text" id="students-full-name" name="entry.479301265" value="" required />

    <label for="students-age">Student's Age <span class="form-required" aria-hidden="true">*</span></label>
    <input type="number" id="students-age" name="entry.1515084250" value="" min="9" max="15" data-error-message="Student's age needs to be bettween 9 and 15." required />

    <label for="students-gender">Student's Gender <span class="form-required" aria-hidden="true">*</span></label>
    <input type="text" id="students-gender" name="entry.209594418" value="" required />

    <fieldset class="sessions">
        <legend>Select the session(s) your student would like to attend? <span class="form-required" aria-hidden="true">*</span></legend>
        <div class="input-wrap">
            <input type="checkbox" name="entry.1842124596" id="week1" value="June 26 to June 30" />
            <label for="week1">June 26 to June 30</label>
        </div>
        <div class="input-wrap">
            <input type="checkbox" name="entry.1842124596" id="week2" value="July 10 to July 14" />
            <label for="week2">July 10 to July 14</label>
        </div>
        <div class="input-wrap">
            <input type="checkbox" name="entry.1842124596" id="week3" value="July 17 to July 21" />
            <label for="week3">July 17 to July 21</label>
        </div>
    </fieldset>


    <label for="students-dietary-restrictions">Student's Dietary Restrictions <span class="form-required" aria-hidden="true">*</span></label>
    <select id="students-dietary-restrictions" name="entry.588393791" required>
        <option value="" selected disabled>Choose</option>>
        <option value="None">None</option>
        <option value="Vegetarian">Vegetarian</option>
        <option value="Vegan">Vegan</option>
        <option value="Kosher">Kosher</option>
        <option value="Gluten-free">Gluten-free</option>
    </select>

    <label for="previous-class">Has the student ever attended a CoderDojoChi class before? <span class="form-required" aria-hidden="true">*</span></label>
    <select id="previous-class" name="entry.26605575" required>
        <option value="" selected disabled>Choose</option>>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>

    <label for="previous-coding">List any previous coding experience(s) your child has had. <span class="form-required" aria-hidden="true">*</span></label>
    <p>Write 'none' if they haven't had any. That is perfectly fine!</p>
    <textarea id="previous-coding" name="entry.1282379238" required></textarea>

    <label for="comments-or-questions">Anything else we should know about your student?</label>
    <textarea id="comments-or-questions" name="entry.1883575158"></textarea>


    <button class="g-recaptcha" data-sitekey="6LepYyMUAAAAACUF3abwgFZLp9IoBo6XdpLXjgMU" data-callback="onSubmit">Reserve my spot</button>
</form>
